<table class="table table-striped border">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Marca</th>
			<th scope="col">Modelo</th>
			<th scope="col">Año</th>
			<th scope="col">Color</th>
			<th scope="col">Precio (USD)</th>
			<th scope="col">Tipo</th>
		</tr>
	</thead>
	<tbody>
		@for (car of Cars; track car.id) {
			<tr>
				<th scope="row">{{ car.id }}</th>
				<td>{{ car.brand }}</td>
				<td>{{ car.model }}</td>
				<td>{{ car.year }}</td>
				<td>{{ car.color }}</td>
				<td>{{ car.price | currency:'USD':'symbol':'1.0-0' }}</td>
				<td>
					<app-badge
						[text]="car.type"
						[type]="typeMap[car.type]">
					</app-badge>
				</td>
			</tr>
		}
	</tbody>
</table>
