<div class="table-responsive">
  <table class="table table-striped border">
    <caption>Disponibilidad del catálogo tecnológico</caption>
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Referencia</th>
        <th scope="col">Producto</th>
        <th scope="col">Categoría</th>
        <th scope="col">Disponibles</th>
        <th scope="col">Precio</th>
      </tr>
    </thead>
    <tbody>
      @for (product of products; track product.id) {
        <tr>
          <th scope="row">{{ product.id }}</th>
          <td>{{ product.sku }}</td>
          <td>{{ product.name }}</td>
          <td>
            <app-badge [text]="product.category" [type]="categoryMap[product.category]"></app-badge>
          </td>
          <td>{{ product.stock }}</td>
          <td>{{ product.price | currency:'COP':'symbol-narrow':'1.0-0' }}</td>
        </tr>
      }
    </tbody>
  </table>
</div>
